<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDo_List</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="big-container">
            <nav class="nav">
                <div class="filter-container">
                    <label for="filter-select">Filter by</label>
                    <select id="filter-select" onchange="applyFilter()">
                        <option value="Name">Name</option>
                        <option value="Date">Date</option>
                        <option value="Priority">Priority</option>
                    </select>
                </div>
                <div class="add-container">
                    <label for="add-button">Add New</label>
                    <button onclick="handleShowAddNewCardInput()" type="button" class="add-button"><i class="fa-solid fa-plus"></i></button>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="main-content">
            @RenderBody()
        <div/>
        <div class="add-new-card-modal"></div>
    </main>

    <footer>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
