html,
body {
    box-sizing: border-box;
    min-height: 100%;
}

body {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #363636;
    background-color: #FFEFD5;
    font-family: 'Roboto', sans-serif;
}

.big-container {
    max-width: 1220px;
    margin: 0 auto;
    font-weight: 500;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 99;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    align-items: center;
    background-color: white;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid #efefef;
    box-shadow: 0px 2px 4px 0px rgba(54,54,54,0.33);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(54,54,54,0.33);
    -moz-box-shadow: 0px 2px 4px 0px rgba(54,54,54,0.33);
}

.sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size:16px;
}

#sort-select {
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    padding: 3px;
}

#sort-select:hover {
    cursor:pointer;
}

.sort-direction {
    display: flex;
    height: 20px;
    gap: 5px;
}

.sort-direction:hover {
    cursor: pointer;
}

.sort-direction_img {
    border-radius: 3px;
    width: 15px;
}

.active-sort-arrow {
    background-color: #efefef;
}

.search-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    min-width: 350px;
    height: 25px;
    border: 0.8px solid #efefef;
    border-radius: 4px;
    padding: 4px;
    transition: all 0.1s ease-in-out;
}

.search-container:hover {
    box-shadow: 0px 1px 3px 0px #bebebe;
}

.search-container--active {
    background-color: #efefef;
}

.search-img {
    width: 20px;
    background-color: transparent;
}

.search-input {
    outline: none;
    border: none;
    font-size: 16px;
    min-width: 310px;
    background-color: transparent;
}

.search-input:focus {
    min-width: 280px;
}

.search-text-remove-btn {
    display: none;
    border: none;
    padding: 3px 3px 0px 3px;
    background-color: transparent;
    border-radius: 4px;
}

.search-text-remove-btn--visible {
    display: inline-block;
}

.search-text-remove-btn:hover {
    cursor: pointer;
    background-color: #0000001a;
}

.search-text-remove-btn_img {
    width: 15px;
}

.filter-container {
    display: flex;
    gap: 20px;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #efefef;
    border-radius: 16px;
    width: 36px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
    content: "";
}


.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
    background: #363636;
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 20px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    font-size: 14px;
    font-weight: 500;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.add-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.add-button {
    border-radius: 4px;
    border: none;
    padding: 6px;
    background-color: white;
}

.add-button:hover {
    cursor: pointer;
    background-color: #efefef;
}

.logout-button {
    padding: 6px;
    border-radius: 4px;
    margin-left: 100px;
    background-color: white;
    border: none;
}

.logout-button:hover {
    cursor: pointer;
    background-color: #efefef;
}

.logout-img {
    width: 24px;
}


.card-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card-form-container {
    margin: 50px auto;
}

.new-card-form_background {
    background-color: white;
    border-radius: 6px;
    padding: 10px;
}

.new-card-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    min-width: 450px;
}

.input-title {
    outline: none;
    min-height: 30px;
    max-height: 100px;
    resize: none;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    color: #202124;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.input-text {
    outline: none;
    max-height: 400px;
    resize: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #363636;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.new-card-form-navigation {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-top: 10px;
}

.priority-slider-container {
    align-self: start;
    margin-bottom: 15px;
}

.priority-slider {
    height: 4px;
    width: 80px;
    outline: none;
}

.priority-slider:hover {
    cursor: pointer;
}

.priority-label {
    font-size: 10px;
    font-weight: 700;
    color: #363636;
    display: flex;
    padding-left: 5px;
}

.new-card-form_color-button {
    background-color: transparent;
    padding: 0 15px;
    border-radius: 4px;
    border: none;
    color: #363636;
}

.new-card-form_color-button:hover {
    background-color: #efefef;
    cursor: pointer;
}

.new-card-form_btn {
    background-color: transparent;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    width: 80px;
}

.new-card-form_btn:hover {
    cursor: pointer;
    background-color: #efefef;
}

.bg-color-container {
    display: none;
    margin-top: 10px;
    position: absolute;
    right: 0%;
    left: 0%;
}

.bg-colors-container-show {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.color-option {
    font-size: 10px;
    text-items:center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
}

.main {
    max-width: 1220px;
    min-height: 80vh;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}

.main-content {
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 0.9px solid #e5e5e5;
    border-radius: 10px;
    padding: 10px;
    width: 253px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0px 2px 4px 0px #9e9e9e;
}

.card-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.card-title {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    color: #202124;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title_img {
    width: 15px;
}
.card-title_img:hover {
    cursor: pointer;
}

.card-body {
    height: 60%;
}

.card-text {
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer_priority {
    font-size: 10px;
    font-weight: 700;
    color: #363636;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.card-footer_priority {
    margin: 0px;
}



.edit-card-modal {
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    min-width: 450px;
}

.edit-card-modal_header {
    position: relative;
}

.edit-input-title {
    outline: none;
    min-height: 30px;
    max-height: 100px;
    width: 95%;
    resize: none;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    color: #202124;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.edit-card-title_img {
    width: 15px;
    z-index: 1;
    position: absolute;
}

.edit-card-title_img:hover {
    cursor: pointer;
}

.edit-card-modal_body {
}

.edit-input-text {
    outline: none;
    max-height: 400px;
    width: 100%;
    resize: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #363636;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.edit-date-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.edit-date {
    font-size: 12px;
    margin: 10px;
}

.edit-card-modal_footer {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

